<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ranking Numero Casa</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<div class="container mt-4">
    <header th:replace="header :: header"></header>

    <h2> Ranking de Canciones Adivinadas</h2>

    <table class="table table-bordered table-striped mt-3">
        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Usuario</th>
            <th>Numero Objetivo</th>
            <th>Intentos</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="asig, iter : ${listaRanking}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${asig.usuario.nombre}"></td>
            <td th:text="${asig.numeroObjetivo}"></td>
            <td th:text="${asig.intentos}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
