<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/estilos.css">
</head>
<body>
<header class="navbar-expand-md sub-navbar">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar">
            <div class="container-xl">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/heroes}">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                              <i class="fas fa-home"></i>
                            </span>
                            <span class="nav-link-title">Inicio</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/peticion}">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                              <i class="fas fa-folder"></i>
                            </span>
                            <span class="nav-link-title">Mensajes</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/juegos}">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                              <i class="fas fa-code"></i>
                            </span>
                            <span class="nav-link-title">Ranking</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
</body>
</html>